# Lab | Revisiting Machine Learning Case Study

Instructions

Complete the following steps on the categorical columns in the dataset:

- Check for null values in all the columns

In [7]:
import pandas as pd
import numpy as np
import warnings
warnings.simplefilter("ignore")

In [8]:
df = pd.read_csv('learningSet.csv')
df

,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,RECINHSE,...,TARGET_D,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,CLUSTER2,GEOCODE2
0,8901,GRI,0,IL,61081,,,3712,0,,...,0.0,0,L,4,E,X,X,X,39.0,C
1,9401,BOA,1,CA,91326,,,5202,0,,...,0.0,0,L,2,G,X,X,X,1.0,A
2,9001,AMH,1,NC,27017,,,0,0,,...,0.0,1,L,4,E,X,X,X,60.0,C
3,8701,BRY,0,CA,95953,,,2801,0,,...,0.0,1,L,4,E,X,X,X,41.0,C
4,8601,,0,FL,33176,,,2001,0,X,...,0.0,1,L,2,F,X,X,X,26.0,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,9601,ASE,1,AK,99504,,,0,0,,...,0.0,0,L,1,G,X,X,X,12.0,C
95408,9601,DCD,1,TX,77379,,,5001,0,,...,0.0,1,L,1,F,X,X,X,2.0,A
95409,9501,MBC,1,MI,48910,,,3801,0,,...,0.0,1,L,3,E,X,X,X,34.0,B
95410,8601,PRV,0,CA,91320,,,4005,0,X,...,18.0,1,L,4,F,X,X,X,11.0,A
95411,8801,MCC,2,NC,28409,,,1801,0,X,...,0.0,1,L,1,G,C,1,C,12.0,C

In [23]:
categorical = df[df.select_dtypes('object').columns]

In [24]:
categorical

,OSOURCE,STATE,ZIP,MAILCODE,PVASTATE,NOEXCH,RECINHSE,RECP3,RECPGVG,RECSWEEP,...,RFA_21,RFA_22,RFA_23,RFA_24,RFA_2R,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,GEOCODE2
0,GRI,IL,61081,,,0,,,,,...,S4E,S4E,S4E,S4E,L,E,X,X,X,C
1,BOA,CA,91326,,,0,,,,,...,N1E,N1E,,F1E,L,G,X,X,X,A
2,AMH,NC,27017,,,0,,,,,...,,S4D,S4D,S3D,L,E,X,X,X,C
3,BRY,CA,95953,,,0,,,,,...,A1D,A1D,,,L,E,X,X,X,C
4,,FL,33176,,,0,X,X,,,...,A3D,I4E,A3D,A3D,L,F,X,X,X,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,ASE,AK,99504,,,0,,,,,...,,,,,L,G,X,X,X,C
95408,DCD,TX,77379,,,0,,,,,...,,,,,L,F,X,X,X,A
95409,MBC,MI,48910,,,0,,X,,,...,P1D,P1D,,,L,E,X,X,X,B
95410,PRV,CA,91320,,,0,X,,,,...,A1F,A1F,S2F,S3F,L,F,X,X,X,A
95411,MCC,NC,28409,,,0,X,,X,,...,S3G,S3G,S3G,S3G,L,G,C,1,C,C

In [28]:
pd.set_option('display.max_rows', None)
categorical.isna().sum()

OSOURCE       0
STATE         0
ZIP           0
MAILCODE      0
PVASTATE      0
NOEXCH        0
RECINHSE      0
RECP3         0
RECPGVG       0
RECSWEEP      0
MDMAUD        0
DOMAIN        0
CLUSTER       0
AGEFLAG       0
HOMEOWNR      0
CHILD03       0
CHILD07       0
CHILD12       0
CHILD18       0
GENDER        0
DATASRCE      0
SOLP3         0
SOLIH         0
MAJOR         0
GEOCODE       0
COLLECT1      0
VETERANS      0
BIBLE         0
CATLG         0
HOMEE         0
PETS          0
CDPLAY        0
STEREO        0
PCOWNERS      0
PHOTO         0
CRAFTS        0
FISHER        0
GARDENIN      0
BOATS         0
WALKER        0
KIDSTUFF      0
CARDS         0
PLATES        0
LIFESRC       0
PEPSTRFL      0
RFA_2         0
RFA_3         0
RFA_4         0
RFA_5         0
RFA_6         0
RFA_7         0
RFA_8         0
RFA_9         0
RFA_10        0
RFA_11        0
RFA_12        0
RFA_13        0
RFA_14        0
RFA_15        0
RFA_16        0
RFA_17        0
RFA_18        0
RFA_19        0
RFA_20        0
RFA_21        0
RFA_22        0
RFA_23        0
RFA_24        0
RFA_2R        0
RFA_2A        0
MDMAUD_R      0
MDMAUD_F      0
MDMAUD_A      0
GEOCODE2    132
dtype: int64

In [26]:
# In total 132 null values and they are all in Geocode 2.

- Exclude the following variables by looking at the definitions. 
- Create a new empty list called drop_list. We will append this list and then drop all the columns in this list later:

OSOURCE - symbol definitions not provided, too many categories
ZIP CODE - we are including state already

In [31]:
drop_list=[]
drop_list.append('OSOURCE')
drop_list.append('ZIP')
drop_list

['OSOURCE', 'ZIP']

- Identify columns that over 85% missing values

In [33]:
categorical.isna().sum()/len(categorical)*100

OSOURCE     0.000000
STATE       0.000000
ZIP         0.000000
MAILCODE    0.000000
PVASTATE    0.000000
NOEXCH      0.000000
RECINHSE    0.000000
RECP3       0.000000
RECPGVG     0.000000
RECSWEEP    0.000000
MDMAUD      0.000000
DOMAIN      0.000000
CLUSTER     0.000000
AGEFLAG     0.000000
HOMEOWNR    0.000000
CHILD03     0.000000
CHILD07     0.000000
CHILD12     0.000000
CHILD18     0.000000
GENDER      0.000000
DATASRCE    0.000000
SOLP3       0.000000
SOLIH       0.000000
MAJOR       0.000000
GEOCODE     0.000000
COLLECT1    0.000000
VETERANS    0.000000
BIBLE       0.000000
CATLG       0.000000
HOMEE       0.000000
PETS        0.000000
CDPLAY      0.000000
STEREO      0.000000
PCOWNERS    0.000000
PHOTO       0.000000
CRAFTS      0.000000
FISHER      0.000000
GARDENIN    0.000000
BOATS       0.000000
WALKER      0.000000
KIDSTUFF    0.000000
CARDS       0.000000
PLATES      0.000000
LIFESRC     0.000000
PEPSTRFL    0.000000
RFA_2       0.000000
RFA_3       0.000000
RFA_4       0.000000
RFA_5       0.000000
RFA_6       0.000000
RFA_7       0.000000
RFA_8       0.000000
RFA_9       0.000000
RFA_10      0.000000
RFA_11      0.000000
RFA_12      0.000000
RFA_13      0.000000
RFA_14      0.000000
RFA_15      0.000000
RFA_16      0.000000
RFA_17      0.000000
RFA_18      0.000000
RFA_19      0.000000
RFA_20      0.000000
RFA_21      0.000000
RFA_22      0.000000
RFA_23      0.000000
RFA_24      0.000000
RFA_2R      0.000000
RFA_2A      0.000000
MDMAUD_R    0.000000
MDMAUD_F    0.000000
MDMAUD_A    0.000000
GEOCODE2    0.138347
dtype: float64

- Remove those columns from the dataframe

In [ ]:
# None of the columns has null values over 85%.

- Reduce the number of categories in the column GENDER. 
- The column should only have either "M" for males, "F" for females, and "other" for all the rest
- Note that there are a few null values in the column. We will first replace those null values using the code below:

print(categorical['GENDER'].value_counts())

categorical['GENDER'] = categorical['GENDER'].fillna('F')

In [34]:
categorical['GENDER'].value_counts()

F    51277
M    39094
      2957
U     1715
J      365
C        2
A        2
Name: GENDER, dtype: int64

In [36]:
categorical['GENDER'] = categorical['GENDER'].replace(' ', 'F')

In [37]:
categorical['GENDER'].value_counts()

F    54234
M    39094
U     1715
J      365
C        2
A        2
Name: GENDER, dtype: int64

In [38]:
categorical['GENDER'] = categorical['GENDER'].replace('A', 'Other')
categorical['GENDER'] = categorical['GENDER'].replace('U', 'Other')
categorical['GENDER'] = categorical['GENDER'].replace('C', 'Other')
categorical['GENDER'] = categorical['GENDER'].replace('J', 'Other')

In [39]:
categorical['GENDER'].value_counts()

F        54234
M        39094
Other     2084
Name: GENDER, dtype: int64